/* SAMPLE QUERIES */

@media(min-width:2000px) {
}

@media(min-width:1600px) and (max-width:1999px){
}

@media(min-width:1200px) and (max-width:1599px){
}

@media(min-width:992px) and (max-width:1199px){
}

@media(min-width:768px) and (max-width:991px){
}

@media(min-width:481px) and (max-width:767px){
}

@media (max-width:480px){
}

/* UNIVERSAL */

body {}

div#overlay a, div#overlay p {font-size:1.25em;} 
.navbar-default .navbar-brand {color:white; font-size:1.4em;}
.front h1.page-header { display:none;}
h1.page-header {border:0px; padding:0px;line-height:130%; color:#3b1f08;}
h2 {margin:0px;}
a {color:#6d3475;}
a:hover {text-decoration:none; color:#b830da;}
div:hover, a img:hover, .affix, .affix-top, :focus, li a:hover {transition: all 0.1s ease 0.1s;}
.caption{} 
b, strong {color:#360d56;}
div.views-exposed-form { text-align:center;}


div.view-filters {}
ul.pagination {border-radius:0px; margin:15px auto; width:100%; text-align:center;}
ul.pagination li a {background:#ca2b79; color:white; border:0px; padding:6px 15px; margin:0px 3px; border-radius:0px !important; font-size:1.15em; float:none;}
ul.pagination li.active a {background:white; border:none; border:0px; color:#999;}
ul.pagination li.active a:hover {border:0px;}
ul.pagination li.active a:hover, ul.pagination li a:hover, ul.pagination li a:focus  {background:#6d3475; outline-offset:0; cursor:pointer;}

div#edit-field-list-topics-tid-wrapper { width:20%; margin: 0px 40%;}
div.form-item-field-list-topics-tid select {font-size:1.5em; line-height:125%; height:40px;}




@media(min-width:2000px) {
h1.page-header {font-size:1em;}
}

@media(min-width:1600px) and (max-width:1999px){
h1.page-header {font-size:1em;}
}

@media(min-width:1200px) and (max-width:1599px){
h1.page-header {font-size:1em;}
}

@media(min-width:992px) and (max-width:1199px){
h1.page-header {font-size:1em;}
}

@media(min-width:768px) and (max-width:991px){
h1.page-header {font-size:1em;}
}

@media(min-width:481px) and (max-width:767px){
h1.page-header {font-size:1em;}
}

@media (max-width:480px){
h1.page-header {font-size:2em;}
}

/* ADMIN THEME LEGIBILITY */
div.breadcrumb a,  div#overlay p, div#overlay select, div#overlay select.form-select, div#overlay table td, div#overlay input, div#overlay div {font-size:1.25em;} 

/* CONTAINER */
header.navbar-fixed-top.navbar-default.affix-top {background:#ca2b79;} /* positioned at top */
header.navbar-fixed-top.navbar-default.affix {opacity:.92; background:#9d1759;}/* scrolled down */
header#navbar div.container {width:100%; padding:0% 2%; max-width:2100px;}
div.main-container {width:98%; max-width:2100px;margin:0px auto; padding:2%; background:#ece8dc;   box-shadow: 0 0 10px #aaa inset}

.navbar-default .navbar-nav a, .navbar-default .navbar-nav a.active  {background: inherit; background-position:right; background-repeat:repeat-y; background-image:url(../../../../default/files/divider.png); color:white; padding:15px 10px;}
.navbar-default .navbar-nav a:hover, .navbar-default .navbar-nav a.active:hover  { background: #6d3475; color:white;}
.navbar-default .navbar-nav li.last a, .navbar-default .navbar-nav li.last a.active {background-image:none;}



li.statistics_counter { display:none;}

@media(min-width:2000px) {
}

@media(min-width:1600px) and (max-width:1999px){
}

@media(min-width:1200px) and (max-width:1599px){
}

@media(min-width:992px) and (max-width:1199px){
}

@media(min-width:768px) and (max-width:991px){
}

@media(min-width:481px) and (max-width:767px){
}

@media (max-width:480px){
	div.main-container {width:96%; margin:0px auto; padding:4%; background:#ece8dc;}
}

/* FRONT PAGE */
div.view-id-front {}
div.view-id-front div.views-column.views-column {}
div.view-id-front div.views-column.views-column-last {margin-right:0% !important; }
div.view-id-front div.views-column.views-column div.field-name-field-list-image {background:purple; border-top:1px solid #bbb;}
div.view-id-front div.views-column.views-column img {width:100%; height:auto;}
div.view-id-front div.views-column.views-column a img:hover {opacity:.8;}

div.view-id-front div.views-column.views-column div.node {border-color: #bbb #999 #000 #bbb;
    border-radius: 0 5px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;background:white url(../../../../default/files/dog_ear.png) top right no-repeat; border-radius:0px  4px 0px 0px; margin-bottom:10%;}

div.view-id-front div.views-column.views-column div.node:hover {background:#f0f0f0;
box-shadow:2px 2px 3px #ccc; }

div.view-id-front div.views-column.views-column div.node ul { margin:12px 0 9px; background:white; padding:0px 12px 0px 24px;}
div.view-id-front div.views-column.views-column div.node ol {margin:12px 0 9px; background:white; padding:0px 12px 0px 32px;
}

div.view-id-front div.views-column.views-column div.node li a {
	font-weight:700;
}


div.view-id-front div.views-column.views-column div.node li a:hover {
color:red;
}
div.view-id-front div.views-column.views-column div.node ul.links.list-inline,
div.view-id-front div.views-column.views-column div.node ol.links.list-inline {
	margin:0px;
	background:white;
}

div.view-id-front div.views-column.views-column div.node li.node-readmore {display:none;}

div.view-id-front div.views-column.views-column div.node div.trashexpand {}
div.view-id-front div.views-column.views-column div.node div.trashexpand h3 {background: none repeat scroll 0 0 #6d3475;
    font-size: 1.1em;
    margin: 0;

    text-align: center;
    text-transform: uppercase;
}
	
div.view-id-front div.views-column.views-column-2 div.node div.trashexpand h3,
div.view-id-front div.views-column.views-column-4 div.node div.trashexpand h3,
div.view-id-front div.views-column.views-column-6 div.node div.trashexpand h3{
	background:#38263b;
}
div.view-id-front div.views-column.views-column div.node div.trashexpand h3 span {}
div.view-id-front div.views-column.views-column div.node div.trashexpand h3 a {font-weight:400; color:white; letter-spacing: 0.5px; display:block; padding: 3% 4%; cursor:pointer; }

div.view-id-front div.views-column.views-column div.node div.trashexpand h3 a:hover {color:gold;
}


div.view-id-front div.views-column.views-column-last div.node {margin-right:0%;}

div.view-id-front div.views-column.views-column div.node h2,
div.view-id-front div.views-column.views-column div.node div.field-name-field-release-date,
div.view-id-front div.views-column.views-column div.node div.field-name-field-list-source {
	padding:5%;
}

div.view-id-front div.views-column.views-column div.node h2 {
	padding-bottom:1%;
	padding-top:5%;
	font-size:1.5em;
}

div.view-id-front div.views-column.views-column div.node h2 a:hover {
	color:magenta;
}


div.view-id-front div.views-column.views-column-2 div.node h2 a,
div.view-id-front div.views-column.views-column-4 div.node h2 a,
div.view-id-front div.views-column.views-column-6 div.node  h2 a {
	color:#38263b;
}

div.view-id-front div.views-column.views-column div.node div.field-name-field-list-source {
	padding-top:0%;
	padding-bottom:0%;
	font-size:0.9em;
}

div.view-id-front div.views-column.views-column div.node div.field-name-field-list-source a {
	color:#666;
}

div.view-id-front div.views-column.views-column div.node div.field-name-field-release-date {
	padding-top:0%;
	padding-bottom:2%;
	font-size:0.8em;
	color:#999;
}

div.view-id-front div.views-column.views-column div.node  li {font-size: 1em;
letter-spacing:-.25px;
    font-weight: 400;
    line-height: 155%;
    padding: 1px 3px;}

div.view-id-front div.views-column.views-column div.node  li:nth-child(1n) {background:white;}
div.view-id-front div.views-column.views-column div.node  li:nth-child(2n) {background:#f0f0f0;}

div.views-column.views-column div.node blockquote {margin:0px;}
div.views-column.views-column div.node blockquote.image-field-caption {padding:0; background:none;  text-align:center; margin:0%; border:0px !important;bottom:40px;}
div.views-column.views-column div.node blockquote.image-field-caption p { bottom: 0;
    color: white;
    float: left;
    font-size: 0.8em;
	text-align:left;
    margin-top: -30px;
    padding: 3px 5px 3px 10px;
    position: relative;
    text-shadow: 1px 1px 1px black;}

@media(min-width:2000px) {
	div.view-id-front div.views-column.views-column {width:15.25%; float:left;margin:0% 1.625% 0% 0%;}
}

@media(min-width:1600px) and (max-width:1999px){
	div.view-id-front div.views-column.views-column {width:15.25%; float:left;margin:0% 1.625% 0% 0%;}
}

@media(min-width:1200px) and (max-width:1599px){
	div.view-id-front div.views-column.views-column {width:15.25%; float:left;margin:0% 1.625% 0% 0%;}
}

@media(min-width:992px) and (max-width:1199px){
	div.view-id-front div.views-column.views-column {width:18.5%; float:left;margin:0% 1.75% 0% 0%;}
	div.view-id-front div.views-column.views-column.views-column-3 {float:left;}
	div.view-id-front div.views-column.views-column.views-column-4 {float:left;}
	div.view-id-front div.views-column.views-column.views-column-5 {margin-right:0px; }
}

@media(min-width:768px) and (max-width:991px){
	div.view-id-front div.views-column.views-column {width:23.375%; float:left;margin:0% 2% 0% 0%;}
	div.view-id-front div.views-column.views-column.views-column-4 {margin-right:0px;}
}

@media(min-width:481px) and (max-width:767px){
		div.view-id-front div.views-column.views-column {width:48.375%; float:left;margin:0% 2.5% 0% 0%;}
		div.view-id-front div.views-column.views-column.views-column-2, div.view-id-front div.views-column.views-column.views-column-3 {margin-right:0px;}
		div.view-id-front div.views-column.views-column.views-column-5 {float:left; }
		div.view-id-front div.views-column.views-column.views-column-3, 	div.view-id-front div.views-column.views-column.views-column-6  {float:right;}
}

@media (max-width:480px){
	div.view-id-front div.views-column.views-column {width:100%; float:left;margin:0%;}
}

/* TEASER */

div.views-column.views-column div.node div.field-name-field-body-count{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none !important;
    padding: 0;
	margin-top:-55px;
    position: absolute;
    text-align: center;}
div.views-column.views-column div.node div.field-name-field-body-count  p.node-reads {background: black; repeat scroll 0 0 !important;
    top:0px;
	left:3px;
    color: white;
   border-radius:0px;
    font-size: 0.8em;
    padding: 3px 5px 3px 6px;
    position: relative;}
div.views-column.views-column div.node div.field-name-field-body-count  p.node-reads img {width:12px !important; height:auto !important; margin:0px 4px 2px 0px;}

@media(min-width:2000px) {
}

@media(min-width:1600px) and (max-width:1999px){
}

@media(min-width:1200px) and (max-width:1599px){
}

@media(min-width:992px) and (max-width:1199px){
}

@media(min-width:768px) and (max-width:991px){
}

@media(min-width:481px) and (max-width:767px){
}

@media (max-width:480px){
}

/* NODE PAGES */

body.node-type-trashlist div.group-left {padding:0% 2% 0% 0%; width:30%;}

body.node-type-trashlist div.group-middle {border: 1px solid #ccc; background:#f0f0f0;}
body.node-type-trashlist div.group-middle div.field-name-field-list-image img {width:100%; height:auto;  margin:0px;}
body.node-type-trashlist div.group-middle div.field-name-field-list-source-url {margin-top:10px;}
body.node-type-trashlist div.group-middle div.field-name-field-list-source-url a {font-size:1.25em;}

body.node-type-trashlist div.group-right {}
body.node-type-trashlist div.group-right div.views-column.views-column{}

div.group-left div.field-items ul, div.group-left div.field-items ol { margin-top:16px;}
div.group-left div.field-items li { font-size:1.25em;}

div.group-left div.field-items ol li ul  { margin:0px;}
div.group-left div.field-items ol li ul li { font-size:1em;}


body.node-type-trashlist div.group-middle blockquote {margin:0px; border:0px;}
body.node-type-trashlist div.group-middle blockquote.image-field-caption { background:#aaa;  text-align:center;padding:1% 2%}
body.node-type-trashlist div.group-middle blockquote.image-field-caption p {font-size:1em;  color:#eee; text-transform:uppercase; letter-spacing:1px; }


@media(min-width:2000px) {
body.node-type-trashlist div.group-left { width:25%;}
body.node-type-trashlist div.group-middle { width:25%; padding:1%;}
body.node-type-trashlist div.group-right { width:50%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:47%;}
}

@media(min-width:1600px) and (max-width:1999px){
body.node-type-trashlist div.group-left { width:25%;}
body.node-type-trashlist div.group-middle { width:25%; padding:1%;}
body.node-type-trashlist div.group-right { width:50%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:47%;}
}

@media(min-width:1200px) and (max-width:1599px){
body.node-type-trashlist div.group-left { width:30%;}
body.node-type-trashlist div.group-middle { width:30%; padding:1%;}
body.node-type-trashlist div.group-right { width:40%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:47%;}
}

@media(min-width:992px) and (max-width:1199px){
	body.node-type-trashlist div.group-left { width:30%;}
body.node-type-trashlist div.group-middle { width:30%; padding:2%;}
body.node-type-trashlist div.group-right { width:40%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:47%;}
}

@media(min-width:768px) and (max-width:991px){
	body.node-type-trashlist div.group-left { width:40%;}
body.node-type-trashlist div.group-middle { width:30%; padding:2%;}
body.node-type-trashlist div.group-right { width:30%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:100%;}
}

@media(min-width:481px) and (max-width:767px){
	body.node-type-trashlist div.group-left { width:50%;}
body.node-type-trashlist div.group-middle { width:20%; padding:2%;}
body.node-type-trashlist div.group-right { width:30%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:100%;}
}

@media (max-width:480px){
	body.node-type-trashlist div.group-left { width:100%; padding:0%;}
body.node-type-trashlist div.group-middle { width:100%; padding:3%; margin-bottom:10%;}
body.node-type-trashlist div.group-right { width:100%; padding:0%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:100%;}
div.group-left div.field-items ul, div.group-left div.field-items ol {margin:12px 0px 18px -4%;}
div.group-left div.field-items li {padding:6px 0px;border-bottom:1px solid #ccc;}
}


/* responsive grid, 6 column, vert */


@media(min-width:2000px) {
}

@media(min-width:1600px) and (max-width:1999px){
}

@media(min-width:1200px) and (max-width:1599px){
}

@media(min-width:992px) and (max-width:1199px){
}

@media(min-width:768px) and (max-width:991px){
}

@media(min-width:481px) and (max-width:767px){
}

@media (max-width:480px){
}