/* SAMPLE QUERIES */

@media(min-width:2000px) {
}

@media(min-width:1600px) and (max-width:1999px){
}

@media(min-width:1200px) and (max-width:1599px){
}

@media(min-width:992px) and (max-width:1199px){
}

@media(min-width:768px) and (max-width:991px){
}

@media(min-width:481px) and (max-width:767px){
}

@media (max-width:480px){
}

/* UNIVERSAL */

body {  background:url(../../../../default/files/hatch.gif);}

div#overlay a, div#overlay p {font-size:1.25em;} 
.navbar-default .navbar-brand {color:white; font-size:1.4em;}
.front h1.page-header { display:none;}
h1.page-header {border:0px; padding:0px;line-height:115%; color:#3b1f08;}
h2 {margin:0px;}
a {color:#6d3475;}
a:hover {text-decoration:none; color:#b830da;}
div:hover, a img:hover, .affix, .affix-top, :focus, li a:hover {transition: all 0.1s ease 0.1s;}
.caption{} 
b, strong {color:#360d56;}
div.views-exposed-form { text-align:center;}
.footer {border:0px !important;}

div.view-filters {}
ul.pagination {border-radius:0px;  width:100%; text-align:center;margin:8px auto 30px; }
ul.pagination li a {background:#ca2b79; color:white; border:0px; padding:6px 15px; border-radius:0px !important; font-size:1.15em; float:none; margin:0px 4px;}
ul.pagination li.active a {background:white; border:none; border:0px; color:#999;}
ul.pagination li.active a:hover {border:0px;}
ul.pagination li.active a:hover, ul.pagination li a:hover, ul.pagination li a:focus  {background:#6d3475; outline-offset:0; cursor:pointer;}



div.strip {text-align:center; background:black; padding:3px 0px;}
div.strip span { color:white; } /* site slogan */
li.statistics_counter { display:none;}



@media(min-width:2000px) {
h1.page-header {font-size:2.6em;}
div.strip span {padding-left:9px; font-size:1.2em;} /* site slogan */
}

@media(min-width:1600px) and (max-width:1999px){
h1.page-header {font-size:2.5em;}
div.strip span {padding-left:9px; font-size:1.2em;} /* site slogan */
}

@media(min-width:1200px) and (max-width:1599px){
h1.page-header {font-size:2.4em;}
div.strip span {padding-left:6px; font-size:1.1em;} /* site slogan */
}

@media(min-width:992px) and (max-width:1199px){
h1.page-header {font-size:2.3em;}
div.strip span {padding-left:6px; font-size:1em;} /* site slogan */
}

@media(min-width:768px) and (max-width:991px){
h1.page-header {font-size:2.2em;}
div.strip span {padding-left:6px; font-size:.9em;} /* site slogan */
}

@media(min-width:481px) and (max-width:767px){
h1.page-header {font-size:2.1em;}
div.strip span {padding-left:6px; font-size:.9em;} /* site slogan */
}

@media (max-width:480px){
h1.page-header {font-size:1.9em;}
div.strip span {display:none;} /* site slogan */
}

/* ADMIN THEME LEGIBILITY
div.breadcrumb a,  div#overlay p, div#overlay select, div#overlay select.form-select, div#overlay table td, div#overlay input, div#overlay div {font-size:1.25em;}  */

/* CONTAINER */

div.main-container {width:98%; max-width:2100px;padding:2%; /* background:#f5ebcf;   box-shadow: 0 0 10px #aaa inset */}

@media(min-width:2000px) {
div.main-container {margin:25px auto 0 auto;}
}

@media(min-width:1600px) and (max-width:1999px){
div.main-container {margin:25px auto 0 auto;}
}

@media(min-width:1200px) and (max-width:1599px){
div.main-container {margin:30px auto 0 auto;}
}

@media(min-width:992px) and (max-width:1199px){
div.main-container {margin:30px auto 0 auto;}
}

@media(min-width:768px) and (max-width:991px){
div.main-container {margin:30px auto 0 auto;}
}

@media(min-width:481px) and (max-width:767px){
div.main-container {margin:35px auto 0 auto; width:96%; padding:2%;}
}

@media (max-width:480px){
div.main-container {width:96%; margin:25px auto 0; padding:2%; }

}


/* NAVIGATION */

div.navbar-header {text-align:center;}
.container > .navbar-header, .container > .navbar-collapse {padding:0px !important; margin:0px !important; background:#ca2b79;}
header#navbar div.container {width:100%; padding:0%; max-width:2100px;}

header.navbar-fixed-top.navbar-default.affix-top {background:#ca2b79; border-top:6px solid black;} /* positioned at top */
header.navbar-fixed-top.navbar-default.affix {opacity:.92; background:#9d1759; border-top: 2px solid #ca2b79;}/* scrolled down */

ul.navbar-nav {text-align:center; width:100%; margin:0px;}
ul.navbar-nav  li {}

.navbar-default .navbar-nav a, .navbar-default .navbar-nav a.active {color:white !important;}
.navbar-default .navbar-nav a:hover, .navbar-default .navbar-nav a.active:hover  { background: #6d3475 url(../../../../default/files/checker.gif); color:white;}
.navbar-default .navbar-nav li.last a, .navbar-default .navbar-nav li.last a.active {background-image:none;}

.navbar-toggle {float:none; margin:5px 0px; padding:6px; border-radius:6px;} /* increase width with smaller screens */
.navbar-toggle .icon-bar {width:90%; margin:0px 5%;}

div#edit-field-list-topics-tid-wrapper { padding:0px;}
div#edit-field-list-topics-tid-wrapper label { text-transform:uppercase; font-size:1.25em; letter-spacing:0.5px;}
div.form-item-field-list-topics-tid select {font-size:1.5em;height:40px; background:hotpink; color:white;}
div.form-item-field-list-topics-tid select option { line-height:125%;  padding:5px 10px; border-bottom:1px solid pink;}

@media(min-width:2000px) {
ul.navbar-nav {padding:0px; margin:0px; }
ul.navbar-nav  li {width:8.33333%;}
.navbar-default .navbar-nav a, .navbar-default .navbar-nav a.active  {background: inherit; background-position:right; background-repeat:repeat-y; background-image:url(../../../../default/files/divider.png); color:white !important; padding:6px 0px; font-size:1.25em; letter-spacing:0.25px;}

div#edit-field-list-topics-tid-wrapper { width:20%; margin: 0px 40%; }
div#edit-field-list-topics-tid-wrapper label {  font-size:1.25em; letter-spacing:0.5px;}
div.form-item-field-list-topics-tid select {font-size:1.5em;}
div.form-item-field-list-topics-tid select option { line-height:125%;  padding:5px 10px; }

}

@media(min-width:1600px) and (max-width:1999px){
ul.navbar-nav {padding:0px; margin:0px; }
ul.navbar-nav  li {width:8.33333%;}
.navbar-default .navbar-nav a, .navbar-default .navbar-nav a.active  {background: inherit; background-position:right; background-repeat:repeat-y; background-image:url(../../../../default/files/divider.png); color:white !important; padding:6px 0px; font-size:1.1em; letter-spacing:0px;}

div#edit-field-list-topics-tid-wrapper { width:20%; margin: 0px 40%; }
div#edit-field-list-topics-tid-wrapper label {  font-size:1.25em; letter-spacing:0.5px;}
div.form-item-field-list-topics-tid select {font-size:1.5em;}
div.form-item-field-list-topics-tid select option { line-height:125%;  padding:5px 10px; }
}

@media(min-width:1200px) and (max-width:1599px){
ul.navbar-nav {padding:0px; margin:0px; }
ul.navbar-nav  li {width:8.33333%;}
.navbar-default .navbar-nav a, .navbar-default .navbar-nav a.active  {background: inherit; background-position:right; background-repeat:repeat-y; background-image:url(../../../../default/files/divider.png); color:white !important; padding:6px 0px; font-size:1em; letter-spacing:-0.25px;}


div#edit-field-list-topics-tid-wrapper { width:25%; margin: 0px 37.5%; }
div#edit-field-list-topics-tid-wrapper label {  font-size:1.25em; letter-spacing:0.5px;}
div.form-item-field-list-topics-tid select {font-size:1.5em;}
div.form-item-field-list-topics-tid select option { line-height:125%;  padding:5px 10px; }
}

@media(min-width:992px) and (max-width:1199px){
ul.navbar-nav {padding:0px; margin:0px; }
ul.navbar-nav  li {width:8.33333%;}
.navbar-default .navbar-nav a, .navbar-default .navbar-nav a.active  {background: inherit; background-position:right; background-repeat:repeat-y; background-image:url(../../../../default/files/divider.png); color:white !important; padding:6px 0px; font-size:.9em; letter-spacing:-0.25px;}

div#edit-field-list-topics-tid-wrapper { width:25%; margin: 0px 37.5%; }
div#edit-field-list-topics-tid-wrapper label {  font-size:1.25em; letter-spacing:0.5px;}
div.form-item-field-list-topics-tid select {font-size:1.5em;}
div.form-item-field-list-topics-tid select option { line-height:125%;  padding:5px 10px; }
}

@media(min-width:768px) and (max-width:991px){
ul.navbar-nav {padding:0px; margin:0px; }
ul.navbar-nav  li {width:8.33333%;}
.navbar-default .navbar-nav a, .navbar-default .navbar-nav a.active  {background: inherit; background-position:right; background-repeat:repeat-y; background-image:url(../../../../default/files/divider.png); color:white !important; padding:6px 0px; font-size:.9em; letter-spacing:-0.25px;}

div#edit-field-list-topics-tid-wrapper { width:30%; margin: 0px 35%; }
div#edit-field-list-topics-tid-wrapper label {  font-size:1.25em; letter-spacing:0.5px;}
div.form-item-field-list-topics-tid select {font-size:1.5em;}
div.form-item-field-list-topics-tid select option { line-height:125%;  padding:5px 10px; }

}

@media(min-width:481px) and (max-width:767px){
ul.navbar-nav li { float: left; width: 50%;}
.navbar-toggle {margin:5px 40%; width:10%;}
.navbar-default .navbar-nav a, .navbar-default .navbar-nav a.active  {background: #990099 url(../../../../default/files/mobile-nav-grad.png) bottom repeat-x; border-right:1px solid white; border-left:1px solid white; font-size:1.1em; text-transform:uppercase; letter-spacing:0.25px; padding:8px 0px; border-bottom:1px solid #555; }
div.navbar-collapse.in {box-shadow:20px 30px 50px #000;}

div#edit-field-list-topics-tid-wrapper { width:42%; margin: 0px 29%; }
div#edit-field-list-topics-tid-wrapper label {  font-size:1.2em; letter-spacing:0.5px;}
div.form-item-field-list-topics-tid select {font-size:1.5em;}
div.form-item-field-list-topics-tid select option { line-height:125%;  padding:5px 10px; }
}

@media (max-width:480px){
ul.navbar-nav li { float: left; width: 50%;}
.navbar-toggle {margin:5px 42.5px; width:15%;}
.navbar-default .navbar-nav a, .navbar-default .navbar-nav a.active  {background: #990099 url(../../../../default/files/mobile-nav-grad.png) bottom repeat-x; border-right:1px solid white; border-left:1px solid white; font-size:1.1em; text-transform:uppercase; letter-spacing:0.25px; padding:8px 0px; border-bottom:1px solid #555; }
div.navbar-collapse.in {box-shadow:20px 30px 50px #000;}

div#edit-field-list-topics-tid-wrapper { width:70%; margin: 0px 15%; }
div#edit-field-list-topics-tid-wrapper label {  font-size:1.15em; letter-spacing:0.5px;}
div.form-item-field-list-topics-tid select {font-size:1.5em;}
div.form-item-field-list-topics-tid select option { line-height:125%;  padding:5px 10px; }
}




/* FRONT PAGE */
div.view-id-front {}
div.view-id-front div.views-column.views-column {}
div.view-id-front div.views-column.views-column-last {margin-right:0% !important; }
div.view-id-front div.views-column.views-column div.field-name-field-list-image {background:purple; border-top:1px solid #bbb;}
div.view-id-front div.views-column.views-column img {width:100%; height:auto;}
div.view-id-front div.views-column.views-column a img:hover {opacity:.8;}



div.view-id-front div.views-column.views-column div.node {border-color: #bbb #999 #000 #bbb; border-radius: 0 5px 0 0; border-style: solid solid none;  border-width: 1px 1px 0;background:white url(../../../../default/files/dog_ear.png) top right no-repeat; border-radius:0px  4px 0px 0px; margin-bottom:10%;}

div.view-id-front div.views-column.views-column div.node.node-sticky, div.view-id-front div.views-column.views-column div.node.node-sticky:hover { background:#ca2b79; border:1px solid black;} 
div.view-id-front div.views-column.views-column div.node.node-sticky h2 a {color:white;}
div.view-id-front div.views-column.views-column div.node.node-sticky h2 a:hover {color:purple;}
div.view-id-front div.views-column.views-column  div.node.node-sticky div.field-name-field-list-source a {color:#ccc;}
div.view-id-front div.views-column.views-column div.node.node-sticky div.field-name-field-release-date {color:#ccc;}
div.view-id-front div.views-column.views-column div.node div.field-name-field-trending {visibility:hidden; font-size:.001em;}
div.view-id-front div.views-column.views-column div.node.node-sticky div.field-name-field-trending  {background: black;
    float: right;
    font-size: .95em;
    margin-left: 65%;
    margin-top: -30px;
    text-align: center;
    visibility: visible;
    width: 35%;
}

div.view-id-front div.views-column.views-column div.node.node-sticky div.field-name-field-trending  a {color:white;}


div.view-id-front div.views-column.views-column div.node:hover {background:#f0f0f0; box-shadow:2px 2px 3px #ccc; }

div.view-id-front div.views-column.views-column div.node ul { margin:12px 0 9px; background:white; padding:0px 12px 0px 24px;}
div.view-id-front div.views-column.views-column div.node ol {margin:12px 0 9px; background:white; padding:0px 12px 0px 32px;}

div.view-id-front div.views-column.views-column div.node li a { font-weight:700;}
div.view-id-front div.views-column.views-column div.node li a:hover {color:red;}
div.view-id-front div.views-column.views-column div.node ul.links.list-inline, div.view-id-front div.views-column.views-column div.node ol.links.list-inline { margin:0px; background:white;}

div.view-id-front div.views-column.views-column div.node li.node-readmore {display:none;}

div.view-id-front div.views-column.views-column div.node div.trashexpand {}
div.view-id-front div.views-column.views-column div.node div.trashexpand h3 {background: none repeat scroll 0 0 #6d3475; font-size: 1.1em; margin: 0; text-align: center; text-transform: uppercase;}
	
div.view-id-front div.views-column.views-column-2 div.node div.trashexpand h3, div.view-id-front div.views-column.views-column-4 div.node div.trashexpand h3, div.view-id-front div.views-column.views-column-6 div.node div.trashexpand h3{ background:#38263b;}
div.view-id-front div.views-column.views-column div.node div.trashexpand h3 span {}
div.view-id-front div.views-column.views-column div.node div.trashexpand h3 a {font-weight:400; color:white; letter-spacing: 0.5px; display:block; padding: 3% 4%; cursor:pointer; }
div.view-id-front div.views-column.views-column div.node div.trashexpand h3 a:hover {color:gold;}

div.view-id-front div.views-column.views-column-last div.node {margin-right:0%;}

div.view-id-front div.views-column.views-column div.node h2, div.view-id-front div.views-column.views-column div.node div.field-name-field-release-date, div.view-id-front div.views-column.views-column div.node div.field-name-field-list-source { padding:5%;}
div.view-id-front div.views-column.views-column div.node h2 { padding-bottom:1%; padding-top:5%; font-size:1.5em;}
div.view-id-front div.views-column.views-column div.node h2 a:hover { color:magenta;}
div.view-id-front div.views-column.views-column-2 div.node h2 a, div.view-id-front div.views-column.views-column-4 div.node h2 a, div.view-id-front div.views-column.views-column-6 div.node  h2 a { color:#38263b; }

div.view-id-front div.views-column.views-column div.node div.field-name-field-list-source {padding-top:0%;padding-bottom:0%;font-size:0.9em;}
div.view-id-front div.views-column.views-column div.node div.field-name-field-list-source a {color:#666;}

div.view-id-front div.views-column.views-column div.node div.field-name-field-release-date {padding-top:0%;padding-bottom:2%;font-size:0.8em;color:#999;}

div.view-id-front div.views-column.views-column div.node  li {font-size: 1em;letter-spacing:-.25px;font-weight: 400;line-height: 155%;padding: 1px 3px;}

div.view-id-front div.views-column.views-column div.node  li:nth-child(1n) {background:white;}
div.view-id-front div.views-column.views-column div.node  li:nth-child(2n) {background:#f0f0f0;}

div.views-column.views-column div.node blockquote {margin:0px;}
div.views-column.views-column div.node blockquote.image-field-caption {padding:0; background:none;  text-align:center; margin:0%; border:0px !important;bottom:40px;}
div.views-column.views-column div.node blockquote.image-field-caption p { bottom: 0; color: white; float: left; font-size: 0.8em;text-align:left;margin-top: -30px;padding: 3px 5px 3px 10px;position: relative;text-shadow: 1px 1px 1px black;}

@media(min-width:2000px) {
	div.view-id-front div.views-column.views-column {width:15.25%; float:left;margin:0% 2% 0% 2%;}
	.front div.view-id-front div.views-column.views-column {width:15.25%; float:left;margin:0% 1.625% 0% 0%;}
}

@media(min-width:1600px) and (max-width:1999px){
	.front div.view-id-front div.views-column.views-column {width:15.25%; float:left;margin:0% 1.625% 0% 0%;}
	div.view-id-front div.views-column.views-column {width:15.25%; float:left;margin:0% 2% 0% 2%;}
}

@media(min-width:1200px) and (max-width:1599px){
	.front div.view-id-front div.views-column.views-column {width:15.25%; float:left;margin:0% 1.625% 0% 0%;}
	div.view-id-front div.views-column.views-column {width:17%; float:left;margin:0% 4% 0% 0%;}
}

@media(min-width:992px) and (max-width:1199px){
	.front div.view-id-front div.views-column.views-column {width:18.5%; float:left;margin:0% 1.75% 0% 0%;}
	.front div.view-id-front div.views-column.views-column.views-column-3 {float:left;}
	.front div.view-id-front div.views-column.views-column.views-column-4 {float:left;}
	.front div.view-id-front div.views-column.views-column.views-column-5 {margin-right:0px; }
}

@media(min-width:768px) and (max-width:991px){
	.front div.view-id-front div.views-column.views-column {width:23.375%; float:left;margin:0% 2% 0% 0%;}
	.front div.view-id-front div.views-column.views-column.views-column-4 {margin-right:0px;}
	.front .front div.view-id-front div.views-column.views-column {width:23.375%; float:left;margin:0% 2% 0% 0%;}
	div.view-id-front div.views-column.views-column.views-column-4 {margin-right:0px;}
}


@media(min-width:481px) and (max-width:767px){
		.front div.view-id-front div.views-column.views-column {width:48.375%; float:left;margin:0% 2.5% 0% 0%;}
			.front div.view-id-front div.views-column.views-column.views-column-2, div.view-id-front div.views-column.views-column.views-column-3 {margin-right:0px;}
			.front  div.view-id-front div.views-column.views-column.views-column-5 {float:left; }
			.front  div.view-id-front div.views-column.views-column.views-column-3, 	div.view-id-front div.views-column.views-column.views-column-6  {float:right;}
				div.view-id-front div.views-column.views-column {width:100%; float:left;margin:0% 2.5% 0% 0%;}
		div.view-id-front div.views-column.views-column.views-column-2, div.view-id-front div.views-column.views-column.views-column-3 {margin-right:0px;}
		div.view-id-front div.views-column.views-column.views-column-5 {float:left; }
		div.view-id-front div.views-column.views-column.views-column-3, 	div.view-id-front div.views-column.views-column.views-column-6  {float:right;}
		
}

@media (max-width:480px){
	div.view-id-front div.views-column.views-column {width:100%; float:left;margin:0%;}
	.front div.view-id-front div.views-column.views-column {width:100%; float:left;margin:0%;}
}

/* TEASER */

div.views-column.views-column div.node div.field-name-field-body-count{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none !important;  padding: 0;margin-top:-55px;position: absolute;text-align: center;}
div.views-column.views-column div.node div.field-name-field-body-count  p.node-reads {background: black; repeat scroll 0 0 !important;top:0px;left:3px;color: white; border-radius:0px; font-size: 0.8em; padding: 3px 5px 3px 6px; position: relative;}
div.views-column.views-column div.node div.field-name-field-body-count  p.node-reads img {width:12px !important; height:auto !important; margin:0px 4px 2px 0px;}

@media(min-width:2000px) {
}

@media(min-width:1600px) and (max-width:1999px){
}

@media(min-width:1200px) and (max-width:1599px){
}

@media(min-width:992px) and (max-width:1199px){
}

@media(min-width:768px) and (max-width:991px){
}

@media(min-width:481px) and (max-width:767px){
}

@media (max-width:480px){
}

/* NODE PAGES */


body.node-type-trashlist div.group-left div.field-name-field-list-image img {width:100%; height:auto;  margin:0px;}
body.node-type-trashlist div.group-left div.field-name-field-list-source-url {margin-top:10px;}
body.node-type-trashlist div.group-left div.field-name-field-list-source-url a {font-size:1.25em;}

body.node-type-trashlist div.group-right {}
body.node-type-trashlist div.group-right div.views-column.views-column{}

body.node-type-trashlist div.group-right ol.home-minified, .front div.node-trashlist ol.home-minified,
body.node-type-trashlist div.group-right ul.home-minified, .front div.node-trashlist ul.home-minified{font-size:90%;}


body.node-type-trashlist div.group-right ol.home-minified li, .front div.node-trashlist ol.home-minified li,
body.node-type-trashlist div.group-right ul.home-minified li, .front div.node-trashlist ul.home-minified li{line-height:140% !important;}

div.group-left div.field-items ul, div.group-left div.field-items ol { margin-top: 20px;padding-left: 16px;}
div.group-left div.field-items li { font-size:1.25em; border-bottom:1px solid pink;}

div.group-left div.field-items ol li ul  { margin:0px;}
div.group-left div.field-items ol li ul li { font-size:1em;}

body.node-type-trashlist div.group-middle {padding:0% 2% 0% 0%; width:45%;}
body.node-type-trashlist div.group-middle {border: 1px solid #ccc; background:#f0f0f0; width:24%;}
body.node-type-trashlist div.group-middle blockquote {margin:0px; border:0px;}
body.node-type-trashlist div.group-middle blockquote.image-field-caption { background:#aaa;  text-align:center;padding:1% 2%}
body.node-type-trashlist div.group-middle blockquote.image-field-caption p {font-size:1em;  color:#eee; text-transform:uppercase; letter-spacing:1px; }


@media(min-width:2000px) {
body.node-type-trashlist div.group-left { margin-right: 1.5%; width: 40%; }
body.node-type-trashlist div.group-middle { width:14%; padding:1%; margin-right: 1.5%; }
body.node-type-trashlist div.group-right { width:43%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:47%;}
div.group-left div.field-items li {padding:6px 0px;}
}

@media(min-width:1600px) and (max-width:1999px){
body.node-type-trashlist div.group-left { margin-right: 1.5%; width: 37%; }
body.node-type-trashlist div.group-middle { width:17%; padding:1%; margin-right: 1.5%; }
body.node-type-trashlist div.group-right { width:43%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:47%;}
div.group-left div.field-items li {padding:6px 0px;}
}

@media(min-width:1200px) and (max-width:1599px){
body.node-type-trashlist div.group-left { margin-right: 1.5%; width: 37%; }
body.node-type-trashlist div.group-middle { width:17%; padding:1%; margin-right: 1.5%; }
body.node-type-trashlist div.group-right { width:43%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:48%;}
div.group-left div.field-items li {padding:6px 0px;}
}
@media(min-width:992px) and (max-width:1199px){
body.node-type-trashlist div.group-left { margin-right: 1.5%; width: 52%; }
body.node-type-trashlist div.group-middle { width:15%; padding:1%; margin-right: 1.5%; }
body.node-type-trashlist div.group-right { width:30%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:100%;}
div.group-left div.field-items li {padding:6px 0px;}
}

@media(min-width:768px) and (max-width:991px){
	body.node-type-trashlist div.group-left { width:46%; margin-right: 1.5%;}
body.node-type-trashlist div.group-middle { width:23%; padding:2%;}
body.node-type-trashlist div.group-right { width:28%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:100%;}
div.group-left div.field-items li {padding:6px 0px;}
}

@media(min-width:481px) and (max-width:767px){
	body.node-type-trashlist div.group-left { width:100%;}
body.node-type-trashlist div.group-middle { width:100%; padding:2%; margin-bottom:3%;}
body.node-type-trashlist div.group-right { width:100%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:100%;}
div.group-left div.field-items li {padding:6px 0px;}
}

@media (max-width:480px){
	body.node-type-trashlist div.group-left { width:100%; padding:0%;}
body.node-type-trashlist div.group-middle { width:100%; padding:3%; margin-bottom:10%;}
body.node-type-trashlist div.group-right { width:100%; padding:0%;}
body.node-type-trashlist div.group-right div.views-column.views-column{width:100%;}
div.group-left div.field-items ul, div.group-left div.field-items ol {margin:12px 0px 18px 0%;}
div.group-left div.field-items li {padding:6px 0px;}
}


/* responsive grid, 6 column, vert */


@media(min-width:2000px) {
}

@media(min-width:1600px) and (max-width:1999px){
}

@media(min-width:1200px) and (max-width:1599px){
}

@media(min-width:992px) and (max-width:1199px){
}

@media(min-width:768px) and (max-width:991px){
}

@media(min-width:481px) and (max-width:767px){
}

@media (max-width:480px){
}