div.node li { font-family: 'Fira Sans'; font-style: normal; font-weight: 300; }
h1, h2, h3, h4, h5, h6 { font-family: 'Quattrocento Sans'; font-style: normal; font-weight: 700; }
p, div { font-family: 'Quattrocento Sans'; font-style: normal; font-weight: normal; }
