p, div { font-family: 'Khula'; font-style: normal; font-weight: 300; }
h1 { font-family: 'Khula'; font-style: normal; font-weight: 600; }
a, h2, b { font-family: 'Khula'; font-style: normal; font-weight: normal; }
